.git
.github
.gitignore
.env*
.idea
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
dist
build
*.egg-info
models
tests
README.md
test_main.http
reset.sh
Dockerfile
docker-compose.yml
*.key
voxvault-processing-*/
